body{
  background-color: #062333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: float;
  float: inline-start;
  background-color: #fff;
  margin: 3em;
  padding: 3em;
  width: 70%;
  height: 37em;
}

.container h1{
  text-align: left;
  font-size: 36px;
  color: #062333;
}

.container h2{
  text-align: left;
  font-size: 24px;
  color: #949494;
  margin-bottom: 0px;
}

.actions{
  list-style: none;
  padding: 0;
}

.button{
  border-radius: 0.35em;
	border: solid 3px #394AE1;
	color: #fff !important;
  background-color: #394AE1;
  display: inline-block;
  font-family: 'Abril Fatface';
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  line-height: 2em;
  min-width: 5em;
  padding: 0 0.3em;
}

.button:hover {
  border-color: #062333;
  background-color: #062333;
  color: #fff !important;
}

.stuff{
	width:80%;
	align-items: center;
}

form > .fields {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			width: 100%;
			margin: -1.5rem 0 2rem -1.5rem;
		}
form > .fields > .field {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5rem 0 0 1.5rem;
				width: 100%; 
				/* width: calc(100% - 1.5rem); */
			}

.half {
	width: 49%;
	display:inline-block;
}

label {
		color: #ffffff;
		display: block;
		font-size: 0.8rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
		line-height: 1.5em;
		margin: auto;
		text-transform: uppercase;
	}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		background-color: white;
		border-radius: 4px;
		border: solid 1px #062333;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 90%;
    	height: 3rem;
	}

  /* input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75rem;
	} */