<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/initialsearch.css" />
	</head>

  <body>
    <div class="container">
       <form action="/search.html" class="searchcontainer">
       <input type="text" placeholder="Enter Location..">
       <button type="submit"><img width="25px" src="assets/css/images/searchicon.png"</button>
    </div>
    
  </body>
  
</html>