<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/initialsearch.css" />
	</head>

  <body>
    <div class="container">
       <form class="searchcontainer" method="post">
        <input name="City" type="text" placeholder="Enter Location...">
        <button type="submit"><img width="25px" src="static/images/searchicon.png"></button>
       </form>
    </div>
  </body>
</html>