<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/loginsignup.css') }}" />
	</head>
  
  <body>
    <div class="container">
      <h1>Log In</h1>

      <h2>Email</h2>

      <h2>Password</h2>

      <ul class="actions">
        <li><a href="#" class="button">Log In</a></li>
      </ul>

      <p><b>Don't have a midnight cravings account?</b></p>
      
       <a href="{{ url_for('register') }}">Create Account</a>
      
    </div>
  </body>
</html>



