<!DOCTYPE HTML>
<html>
	<head>
		<title>Log In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/loginsignup.css') }}" />
	</head>
  
  <body>
    <div class="container">
      <h1>Create Your Account</h1>
      
      <h2>First Name </h2>

      <h2>Last Name</h2>

      <h2>Email</h2>

      <h2>Password</h2>

      <ul class="actions">
        <li><a href="#" class="button">Sign Up</a></li>
      </ul>

      <p><b>Already have a Midnight Cravings account?</b></p>
      <a href="{{ url_for('login') }}">Log In</a>
    </div>
  </body>
</html>



