{% block content %}
<form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

         <div class="form-group">
            {{ form.City.label(class="form-control-label") }}
            {% if form.City.errors %}
              {{ form.City(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.city.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
      {% else %}
       {{ form.City(class="form-control form-control-lg") }}
      {% endif %}

</fieldset>

            <div class="form-group">
             {{ form.submit(class="btn btn-outline-info") }}
          </div>
         </form>
     </div>
 {% endblock content %}